language: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
  - ruby-head
  - jruby-head
notifications:
  email:
    recipients:
      - pewniak747@gmail.com
      - bartosz.kopinski@netguru.pl

